@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&family=Poppins:wght@100;200;300&family=Quicksand:wght@300;400;600;700&family=Roboto:wght@100;300;400&display=swap');


.thankspage{
    background: #F2F2F2;
    height: 95vh;
}
.receiptpgsec1cont{
    display: flex;
}
.receiptpgsec1cont>div{
    margin-top: 6.5%;
    width: 15%;
    margin-left: 10%;
}
.receiptimgcont{
    background-color: #FFFFFF;
}
.receiptimgcont>img{
    position: relative;
    left: 20px;
    top: 10px;
}
.sec1headtxt>h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 58px;
    color: #272727;
    /* margin-top: 10%; */
    position: relative;
    bottom: 25px;
}
.sec1headtxt{
    position: relative;
    right: 60px;
}
.sec1headtxt>h2{
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: -0.8999999165534973px;
    color: #56B280;
    position: relative;
    bottom: 45px;
}
.subship{
    display: flex;
    margin-top: 10%;
    border-top: 1px solid rgba(86, 178, 128, 0.2);
    border-bottom: 1px solid rgba(86, 178, 128, 0.2);
    margin-left: 10%;
    margin-right: 54%;
}
.subship>div{
    width: 50%;
}
.subshiptxt1>p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.8999999165534973px;
    color: #616161;
}
.subshiptxt2s2{
    text-align: right;
}
.subshiptxt2s2>h4{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.8999999165534973px;
    color: #272727;
}
.subshiptxt2s2>p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #272727;
}
.paidolla{
    display: flex;
    margin-left: 10%;
    margin-right: 54%;
    margin-top: 5px;
}
.paidolla>div{
    width: 50%;
}
.paidolla>div>p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #56B280;
    letter-spacing: -0.8999999165534973px;
}
.paidolla>div>h2{
    color: #56B280;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.8999999165534973px;
    position: relative;
    bottom: 10px;
}
.padolaprice{
    text-align: right;
}
.padolaprice>h2{
    margin-top: 2%;
}