@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&family=Poppins:wght@100;200;300&family=Quicksand:wght@300;400;600;700&family=Roboto:wght@100;300;400&display=swap');

.thankspghdnav{
    display: flex;
    /* border: 1px solid red; */
    margin-left: 20%;
    margin-top: 2%;
}
.thankspghdnav>div{
    display: flex;
    /* border: 1px solid blue; */
    width: 8%;
}
.thankspghdnav>div>p{
    color: rgba(86, 178, 128, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.8999999165534973px;
}
.thankspghdnav>p{
    color:rgba(39, 39, 39, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.8999999165534973px;
}
.thankspghdnav>div :nth-child(2){
    position: relative;
    left: 15px;
}
/* .cartsec :nth-child(2){
    position: relative;
    left: 90px;
} */
.thankspghdnav :nth-child(1)>img{
    position: relative;
    left: 30px;
}
.checkpay{
    margin-left: 39%;
    margin-top: 3%;
}
.thankspg>h1{
    margin-left: 36%;
    color: rgba(39, 39, 39, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -0.8999999165534973px;
    margin-top: 3%;
}
.thankspg>h4{
    color: rgba(86, 178, 128, 1);
    margin-left: 40%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2%;
    margin-top: 1%;
}
.thankspg>p{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    /* border: 1px solid red; */
    margin-left: 20%;
    margin-right: 20%;
}
.thankspg>button{
    background: rgba(86, 178, 128, 1);
    border: none;
    height: 40px;
    width: 249px;
    border-radius: 4px;
    margin-left: 35%;
    margin-top: 2%;
}
.thankspg>button>a{
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}
.thankspg>div>a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.8999999165534973px;
    color: rgba(86, 178, 128, 1);
    margin-left: 41%;
    position: relative;
    top: 20px;
}
.recethank{
    margin-bottom: 5%;
}

