@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&family=Poppins:wght@100;200;300&family=Quicksand:wght@300;400;600;700&family=Roboto:wght@100;300;400&display=swap');


.paypage>h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.8999999165534973px;
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.paymentpg{
    display: flex;
    /* border: 1px solid red; */
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 5%
}
.paymentpg>div{
    display: flex;
    /* border: 1px solid blue; */
    width: 8%;
}
.paymentpg>div>p{
    color: rgba(86, 178, 128, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.8999999165534973px;
}
.paymentpg>p{
    color:rgba(39, 39, 39, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.8999999165534973px;
}
.paymentpg>div :nth-child(2){
    position: relative;
    left: 15px;
}
/* .cartsec :nth-child(2){
    position: relative;
    left: 90px;
} */
.paymentpg :nth-child(1)>img{
    position: relative;
    left: 30px;
}
.continfo{
    margin-top: 2%;
    border: 1px solid rgba(86, 178, 128, 0.2);
    border-radius: 7px;
    margin-left: 20%;
    margin-right: 45%;
}
hr{
    height: 1px;
    border: none;
    background-color: rgba(86, 178, 128, 0.2); 
    margin-left: 4%;
    margin-right: 6%;
}
/* .continfo{
    margin-top: 5%;
} */
.continfo>div{
    display: flex;
    /* border: 1px solid red; */
    padding-left: 4%;
    height: 60px;
}
.continfo>div>h5{
    color: rgba(129, 129, 129, 1);
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.6000000238418579px;
    margin-top: 5%;
}
.continfo>div>p{
    margin-left: 4%;
    color: rgba(39, 39, 39, 1);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.6000000238418579px;
    margin-top: 5.3%;
}
.continfo>div>h6{
    margin-left: 7%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.6000000238418579px;
    color: rgba(86, 178, 128, 1);
    margin-top: 5%;
    /* position: relative;
    bottom: 8.5px; */
}
.subcontinfo>h6{
    position: relative;
    left: 150px;
}
.paylinbgimg{
    background: linear-gradient(90.04deg, rgba(86, 178, 128, 0.2) 0.04%, rgba(86, 178, 128, 0.4) 97.95%);
    margin-left: 20%;
    margin-right: 45%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    /* height: 15%; */
}
.paylinbgimg>div{
    display: flex;
    margin-left: 5%;
}
.paylinbgimg>div>p{
    color: rgba(86, 178, 128, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.8999999165534973px;
    position: relative;
    left: 20px;
    top: 5px;
}
form{
    border: 1px solid rgba(229, 229, 229, 1);
    /* border: 1px solid red; */
    margin-left: 20%;
    margin-right: 45%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.formcont>div>input{
    border: 0.5px solid rgba(137, 137, 137, 1);
    height: 40px;
}
.place1>img{
    position: relative;
    top: 3px;
    right: 35px;
}
.place1 :nth-child(1){
    width: 422px;
}
.place1 :nth-child(4){
    margin-top: 3%;
    width: 422px;
}
.place2{
    margin-top: 3%;
}
.place2>img{
    position: relative;
    top: 3px;
    right: 20px;
}
.formcont{
    margin-top: 5%;
    margin-bottom: 6%;
    margin-left: 4%;
}
.place2>input{
    width: 203.5px;
    /* padding-left: 3%; */
}
.place2 :nth-child(2){
    position: relative;
    left: 16px;
}
.taxinfocont{
    /* margin-bottom: 5%; */
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 45%;
}
.taxinfocont :nth-child(2){
    margin-top: 3%;
}
.taxinfoplace>input{
    border: 0.5px solid rgba(137, 137, 137, 1);
    height: 40px;
    width: 448px;
    /* margin-bottom: 3%; */
    background: rgba(255, 255, 255, 1);
    padding-left: 5%;
}
.radiocont{
    margin-left: 20%;
    margin-right: 44%;
    border: 1px solid rgba(229, 229, 229, 1);
    border-radius: 7px;
   
}
.subradiocont{
    margin-top: 5%;
    margin-left: 5%;
    height: 30px;
}
.andcont01{
    position: relative;
    bottom: 5.5px;
}
/* input[type='radio']:after {
    background-color: brown;
    visibility: visible;
}
input[type='radio']:checked:after {
    background: rgba(135, 214, 172, 1);
    color: b  rown;
    visibility: visible;
} */
.subradiocont>label{
    margin-left: 5%;
    color: rgba(39, 39, 39, 1);
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
}
.orcont02>label{
    position: relative;
    bottom: 1.5px;
}
.clickins{
    margin-top: 3%;
    display: flex;
    margin-left: 20%;
    margin-right: 44%;
    margin-bottom: 4%;
}

.clickins>div>a{
    color: rgba(86, 178, 128, 1);
    padding-top: 13%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.8999999165534973px;
}
.clickins>div>button{
    border: none;
    background: rgba(86, 178, 128, 1);
    width: 166px;
    border-radius: 4px;
    line-height: 40px;
    position: relative;
    left: 193px;
}
.clickins>div>button>a{
    color: rgba(255, 255, 255, 1);
    font-size: 21px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
