*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&family=Quicksand:wght@300;400;600;700&family=Roboto:wght@100;300;400&display=swap');
  
  .nav{
    display: flex;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .logo{
    margin-left: 10%;
  }
  .logo :nth-child(2){
    position: relative;
    bottom: 10px;
    left: 3px;
  }
  .clicklinks{
    display: flex;
    margin-left: 15%;
    gap: 5%;
    width: 30%;
  }
  .clicklinks>a{
    color: #272727;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 2.5%;
    text-decoration: none;
    margin-left: 13%;
  }
  .clicklinks>select{
    border: none;
    color: #272727;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  .navicons{
    display: flex;
    margin-left: 15%;
    gap: 15%;
  }
  .navicons :nth-child(2){
    position: relative;
    top: 4px;
  }
  .buttconts>button{
    border: none;
    background-color: #FFFFFF;
  }

  