@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&family=Poppins:wght@100;200;300&family=Quicksand:wght@300;400;600;700&family=Roboto:wght@100;300;400&display=swap');

.pre4sec{
    background-color: #272727;
}
.pre4sec>hr{
    height: 1px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    width: 75%;
    margin: 0 auto;
    margin-top: 4%;
}
.section4{
    background-color: #272727;
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
}
.section4>div{
    width: 50%;
    margin: 0% auto; 
}
.subsec4>div{
    padding-left: 25%;
    padding-right: 33%;
}
.widgets4{
    display: flex;
}
.widgets4>div{
    width: 26%;
    margin-bottom: 10%;
}
.headgets4{
    padding-top: 5%;
}
.headgets4>h5{
    color: #56B280;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;

}
.headgets4>p{
    color: #E1E1E1;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}
.and5>P{
    padding-left:18%;
}
.and5>h5{
    padding-left: 18%;
}
.subsec4 :nth-child(2){
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-top: 1.5%;
}
.sec4logocont{
    display: flex;
}
.sec4logocont :nth-child(2){
    position: relative;
    top: 12px;
    left: 12px;
}