@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&family=Poppins:wght@100;200;300&family=Quicksand:wght@300;400;600;700&family=Roboto:wght@100;300;400&display=swap');
.subhero{
    text-align: center;
    margin-top: 5%;
}
.subhero>h1{
    font-size: 40px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #0B254B;
}
.subhero>p{
    color: #5E6E89;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}