@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&family=Poppins:wght@100;200;300&family=Quicksand:wght@300;400;600;700&family=Roboto:wght@100;300;400&display=swap');

/* .continfoshippg{
    margin-top: 5%;
} */

.shippg{
    display: flex;
    /* border: 1px solid red; */
    margin-left: 20%;
    margin-top: 1.5%;
    margin-bottom: 5%;
}
.shippg>div{
    display: flex;
    /* border: 1px solid blue; */
    width: 8%;
}
.shippg>div>p{
    color: rgba(86, 178, 128, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.8999999165534973px;
}
.shippg>p{
    color: rgba(97, 97, 97, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.8999999165534973px;
}
.shippg :nth-child(3)>p{
    color: rgba(39, 39, 39, 1);

}
.shippg>div :nth-child(2){
    position: relative;
    left: 15px;
}

.shippg :nth-child(1)>img{
    position: relative;
    left: 30px;
}
.continfoshippg{
    margin-top: 2%;
    border: 1px solid rgba(86, 178, 128, 0.2);
    border-radius: 7px;
    margin-left: 20%;
    margin-right: 45%;
    /* padding-top: 5%; */
}
hr{
    height: 1px;
    border: none;
    background-color: rgba(86, 178, 128, 0.2); 
    margin-left: 4%;
    margin-right: 6%;
}
.continfoshippg>div{
    display: flex;
    /* border: 1px solid red; */
    padding-left: 4%;
    height: 60px;
}
.continfoshippg>div>h5{
    color: rgba(129, 129, 129, 1);
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.6000000238418579px;
    margin-top: 5%;
}
.continfoshippg>div>p{
    margin-left: 4%;
    color: rgba(39, 39, 39, 1);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.6000000238418579px;
    margin-top: 5.3%;
}
.continfoshippg>div>h6{
    margin-left: 7%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.6000000238418579px;
    color: rgba(86, 178, 128, 1);
    margin-top: 5%;
    /* position: relative;
    bottom: 8.5px; */
}
.subcontinfoshippg>h6{
    position: relative;
    left: 150px;
}
.subcontinfoshippg{
    position: relative;
    top: 7px;
}
.subcontinfoshippgsec2{
    position: relative;
    bottom: 5px;
}
.shippnpg>h1{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.8999999165534973px;
    margin-left: 20%;
    margin-top: 3%;
}
.shippgsec4{
    display: flex;
    border: 1px solid rgba(229, 229, 229, 1);
    margin-top:  1.5%;
    margin-bottom: 9%;
    margin-left: 20%;
    margin-right: 45%;
    border-radius: 7px;
    height: 58px;
}
.subshippgsec4{
    margin-left: 5%;
    margin-top: 4%;
    width: 83%;
}
.subshippgsec4>label{
    margin-left: 6%;
    color: rgba(39, 39, 39, 1);
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
}
.subshippgsec04>p{
    color: rgba(39, 39, 39, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    top: 18px;
}

.shippgclickins{
    margin-top: 3%;
    display: flex;
    margin-left: 20%;
    margin-right: 44%;
    margin-bottom: 5%;
}

.shippgclickins>div>a{
    color: rgba(86, 178, 128, 1);
    padding-top: 13%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.8999999165534973px;
}
.shippgclickins>div>button{
    border: none;
    background: rgba(86, 178, 128, 1);
    width: 166px;
    border-radius: 4px;
    line-height: 40px;
    position: relative;
    left: 193px;
}
.shippgclickins>div>button>a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 21px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}